.square {
    display: grid;
    place-content: center;
    width: 60px;
    height: 60px;
}

.square .piece {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55px;
}

.square .piece:hover {
    cursor: grab;
}

.square .piece:active {
    cursor: grabbing;
}
.white-square {
    background-color: #ebecda;
}
.orange-square {
    box-shadow:0px 0px 0px 4px rgba(20, 76, 228, 0.877) inset;
}
.green-square{
    background-color: #1b5e06ef;
}